.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card-title{
  color: #000 !important;
}
.card-title{
  color: #fff !important;
  font-size: 1.3em;
  height: 2.2em;
  margin-top: 1em
}
.card-panel{
  background-color: #5f68c0;
  height: 21em
}
.material-icons{
  color: white !important;
}
.white-text-custom{
  font-size: 0.9em;
  margin-top: 2em;
  height: 6em;
  color: white;
}

